<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50412218286-rrj5v6ra6d9lebm9qt6pvjlm07bcruol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50412218286-rrj5v6ra6d9lebm9qt6pvjlm07bcruol</string>
	<key>API_KEY</key>
	<string>AIzaSyAYIfo2PC0sVBNx8D7fvciogJH2R_rfxY4</string>
	<key>GCM_SENDER_ID</key>
	<string>50412218286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukpot.wydatki</string>
	<key>PROJECT_ID</key>
	<string>wydatki-4c25c</string>
	<key>STORAGE_BUCKET</key>
	<string>wydatki-4c25c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50412218286:ios:0aec2c824aaae353f7ca3f</string>
</dict>
</plist>